<div class="header">
  <div class="container">
    <div class="logo">
      <span>AppCo</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="main_wrapper">

    <nav>
      <ol class="cd-breadcrumb custom-separator">
        <li >
          <a routerLink="/">Main page</a>
        </li>
        <li class="current"><em>User statistics</em></li>
      </ol>
    </nav>

    <div class="main_text">User statistics</div>

    <table class="table">
      <thead>
      <tr>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>IP address</th>
        <th>Total clicks</th>
        <th>Total page views</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let user of content" [routerLink]="['/users', user.id]">
        <td><a [routerLink]="['/users', user.id]">{{user.id}}</a></td>
        <td><a [routerLink]="['/users', user.id]">{{user.firstName}}</a></td>
        <td><a [routerLink]="['/users', user.id]">{{user.lastName}}</a></td>
        <td><a [routerLink]="['/users', user.id]">{{user.email}}</a></td>
        <td><a [routerLink]="['/users', user.id]">{{user.gender}}</a></td>
        <td><a [routerLink]="['/users', user.id]">{{user.ipAddress}}</a></td>
        <td><a [routerLink]="['/users', user.id]">{{user.totalClicks}}</a></td>
        <td><a [routerLink]="['/users', user.id]">{{user.totalPageViews}}</a></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="paginate wrapper">
  <ul >
    <li
      (click)="previousPages()"
    >
      <a
        [ngClass]="{
          more: true,
          active_narrow: page1 > +5,
          isDisabled: page1 <= 1
        }"
      >&lang;</a>
    </li>
    <li>
      <a
        (click)="loadNextUsers($event, page1)"
        [ngClass]="{'active': isActive1}"
      > {{page1}}
      </a>
    </li>
    <li>
      <a
        (click)="loadNextUsers($event, page2)"
        [ngClass]="{'active': isActive2, isDisabled: noMoreUsers}"
      >{{page2}}</a>
    </li>
    <li><a
      (click)="loadNextUsers($event, page3)"
      [ngClass]="{'active': isActive3, isDisabled: noMoreUsers}"
      >{{page3}}</a>
    </li>
    <li><a
      (click)="loadNextUsers($event, page4)"
      [ngClass]="{'active': isActive4, isDisabled: noMoreUsers}"
      >{{page4}}</a>
    </li>
    <li>
      <a
        (click)="loadNextUsers($event, page5)"
        [ngClass]="{'active': isActive5, isDisabled: noMoreUsers}"
      >{{page5}}</a>
    </li>
    <li >
      <a
        (click)="nextPages()"
        [ngClass]="{
          'more': true,
          'active_narrow': content.length > 250,
          'isDisabled': noMoreUsers
        }"
      >&rang;</a>
    </li>
  </ul>
</div>

<div class="footer">
  <div class="container">
    <div class="footer_wrap">
      <p class="footer_App">AppCo</p>
      <p class="footer_text input">All rights reserved by ThemeTags</p>
      <p class="footer_text">Copyrights &copy; 2019</p>
    </div>
  </div>
</div>


