<div class="header">
  <div class="container">
    <div class="logo">
      <span>AppCo</span>
    </div>
  </div>
</div>

<div class="container">
  <nav>
    <ol class="cd-breadcrumb custom-separator">
      <li >
        <a routerLink="/">Main page</a>
      </li>
      <li >
        <a routerLink="/users">User statistics</a>
      </li>
      <li class="current"><em>{{firstName}} {{lastName}}</em></li>
    </ol>
  </nav>

  <div class="filter">
    <div class="main_text">{{firstName}} {{lastName}}</div>
    <button
      [ngClass]="{
          btn_filter: true,
          filter_on: isFilterVisible
        }"
      (click)="useFilter()"
    >Фильтр
    </button>
  </div>

  <app-statistic-filter
    *ngIf="isFilterVisible"
  ></app-statistic-filter>

  <div [style.display]="pending ? 'none' : 'block' " >
    <div class="canvas canvMargin">
      <p>Clicks</p>
      <canvas #clicks></canvas>
    </div>

    <div class="canvas">
      <p>Views</p>
      <canvas #views></canvas>
    </div>

  </div>
</div>
<p *ngIf="pending">Загрузка...</p>

<div class="footer">
  <div class="container">
    <div class="footer_wrap">
      <p class="footer_App">AppCo</p>
      <p class="footer_text input">All rights reserved by ThemeTags</p>
      <p class="footer_text">Copyrights &copy; 2019</p>
    </div>
  </div>
</div>


