<div class="header">
  <div class="container">
    <div class="logo">
      <span>AppCo</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="main_wrapper">

    <nav>
      <ol class="cd-breadcrumb custom-separator">
        <li >
          <a routerLink="/">Main page</a>
        </li>
        <li >
          <a routerLink="/users">User statistics</a>
        </li>
        <li class="current"><em>Text</em></li>
      </ol>
    </nav>

    <div class="main_text">Text</div>

    <div class="clicks">
      <p>Clicks</p>
      <canvas></canvas>
    </div>

    <div class="views">
      <p>Views</p>
      <canvas></canvas>
    </div>

  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="footer_wrap">
      <p class="footer_App">AppCo</p>
      <p class="footer_text input">All rights reserved by ThemeTags</p>
      <p class="footer_text">Copyrights &copy; 2019</p>
    </div>
  </div>
</div>
