<div class="container">
  <div class="header">
      <div class="left">
        <div class="logo">
          <span>AppCo</span>
        </div>
        <p class="header_text header_text1"><strong class="bold">Brainstorming</strong>  for
          <br> desired perfect Usability
        </p>
        <p class="header_text header_text2">Our design projects are fresh and simple and will
          benefit your business greatly. Learn more about out work!
        </p>
        <button
          class="btn"
          routerLink="users"
        >
          Views Stats
        </button>
      </div>

      <div class="right">
        <img src="../../assets/mobile.png" alt="">
      </div>
  </div>

  <div class="main">
    <p class="main_text1">
      Why small <strong class="bold">business owners <br> love</strong> AppCo?
    </p>
    <p class="main_text2">
      Our design projects are fresh and simple and will benefit your business
      <br> greatly. Learn more about our work!
    </p>

    <div class="boxes">
      <div class="box">
        <img src="../../assets/Group13.png" alt="">
        <p class="box_text1">Clean Design</p>
        <p class="box_text2">Increase sales by showing true <br> dynamics of your website </p>
      </div>
      <div class="box">
        <img src="../../assets/Group15.png" alt="">
        <p class="box_text1">Clean Design</p>
        <p class="box_text2">Increase sales by showing true <br> dynamics of your website </p>
      </div>
      <div class="box">
        <img src="../../assets/Group14.png" alt="">
        <p class="box_text1">Clean Design</p>
        <p class="box_text2">Increase sales by showing true <br> dynamics of your website </p>
      </div>
    </div>


  </div>

  <div class="footer">

    <form class="footer_form>">
      <label class="input">
        <input type="text"  placeholder="Enter your email">
      </label>
      <button class="input_btn">Subscribe</button>
    </form>

    <div class="footer_wrap">
      <p class="footer_App">AppCo</p>
      <p class="footer_text input">All rights reserved by ThemeTags</p>
      <p class="footer_text">Copyrights &copy; 2019</p>
    </div>

  </div>
</div>
