.header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
  max-height: 655px;
  height: 655px;
  color: #FFFFFF;
  background: url("../../assets/Rectangle8.png") ;
}
.left, .right{
  width: 50%;
}
.right {
  align-self: center;
  text-align: center;
  @media (max-width: 767px) {
    width: 5%;
    display: none;
  }
}
.left {
  @media (max-width: 767px) {
    width: 90%;
  }
}

.logo {
  width: 136px;
  padding-top: 30px;
  height: 73px;
  margin: 0 0 5% 5%;
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
  }
}
.header_text1{
  font-size: 48px;
  line-height: 59px;
  margin: 0 0 2% 5%;
  .bold{
    font-weight: bold;
  }
  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 30px;
  }
}
.header_text2{
  font-size: 20px;
  line-height: 142%;
  margin: 0 0 5% 5%;
}
.btn {
  width: 154px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 16px;
  line-height: 142%;
  text-align: center;
  color: #3A80BA;
  margin: 0 0 2% 5%;
}

.main {
  color: #1A1A1A;
}
.main_text1 {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 2%;
}
.main_text2 {
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #7E7E7E;
  margin-bottom: 2%;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px 5% 10px;
  width: 320px;
  height: 320px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
  img {
    width: 106px;
    height: 96px;
    margin-bottom: 5%;
  }
  p {
    margin: 5%;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
  .box_text2 {
    font-size: 16px;
    line-height: 142%;
    color: #7E7E7E;
    text-align: center;
  }
}

.footer_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  .footer_App {
    font-size: 32px;
    line-height: 39px;
    margin: 30px;
  }
  .footer_text{
    font-size: 16px;
    line-height: 142%;
    margin: 30px;
  }
}

.footer {
  height: 183.46px;
  color: #FFFFFF;
  background: none;
  background-image: url("../../assets/Rectangle54.png"); background-repeat: no-repeat;;
  position: relative;
}
.footer_form {
  width: 100%;
  position: absolute;
  top: 250px;
}


form {
  display: flex;
  justify-content: center;
}

input {
  width: 350px;
  height: 64px;
  border: 1px solid #F1F1F1;
  background: #FFFFFF;
  border-radius: 10px;
  color: #B9B9B9;
  margin: 0 auto;
  font-size: 20px;
  padding-left: 5px;
  @media (max-width: 1400px) {
    width: 350px;
  }
  @media (max-width: 1200px) {
    width: 350px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 425px) {
    width: 100%;
  }
  @media (max-width: 320px) {
    width: 100%;
  }
}

::placeholder {
  color: #B9B9B9;
}
.formWrap {
  max-width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 1200px) {
    width: 100%;
  }
}
.input_btn {
  width: 176px;
  height: 56px;
  background: #3A80BA;
  border-radius: 8px;
  font-size: 16px;
  line-height: 142%;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  top: 4px;
  right: 0%;
  z-index: 2;
  @media (max-width: 1400px) {
    position: relative;
    top: 4px;
    width: 176px;
    right: 0%;
  }
  @media (max-width: 1200px) {
    position: relative;
    top: 4px;
    width: 20%;
    right: 0%;
  }
  @media (max-width: 425px) {
    position: relative;
    top: 4px;
    width: 25%;
    right: 0%;
  }
  @media (max-width: 320px) {
    position: relative;
    top: 4px;
    width: 25%;
    right: 0%;
  }
}

